html{
    font-family: sans-serif;
}

.nav_stuff{
    background: #1f2937;
}

.left-text{
    flex-basis: 5em;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 5em;
}
.right_image{
    display:flex;
    flex-basis: 5em;
    text-align: right;
    margin-left:5em;
    max-width: 500px;
}

.heading_stuff{
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}
.left_text h1{
    font-size: 48px;
    font-weight: bold;
}
.button {
    background-color: #3882f6;
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 40px;
  }
.button_signup{
    border-radius: 10px;
}