html{
    font-family: sans-serif;
}

.nav_stuff{
    background: #1f2937;
}

.left-text{
    flex-basis: 5em;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 2em;
}
.right_image{
    display:flex;
    flex-basis: 5em;
    text-align: right;
    margin-left:2em;
}

.heading_stuff{
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}
.container h1{
    margin: 0em;
    padding-top: 1em;
}