html{
    font-family: 'Roboto', arial;
}

.nav_stuff{
    background: #1f2937;
    padding-left: 3em;
    padding-right: 3em;
}

.left-text{
    flex-basis: 5em;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 5em;
}
.right_image{
    display:flex;
    flex-basis: 5em;
    text-align: right;
    margin-left:5em;
    max-width: 500px;
}

.container-fluid{
    display: flex;
    flex-wrap: nowrap;

    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 2em;
}
.heading_h1{
    font-size: 48px;
    font-weight:bold;
    font-family: 'Roboto', arial;
}
.button {
    background-color: #3882f6;
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 40px;
  }
  #left_text{
    padding:none;
  }
  #right_img{
    padding:none;
  }
.button_signup{
    border-radius: 10px;
    
}
#epic-cool-pics-heading{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
.super-cool-epic-gallery-of-awesomeness{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.epic-img img{
    border: 5px solid blue;
    border-radius: 12px;
    width: 200px;
  height: 200px;
    align-items: center;
    justify-content: center;
}
.epic-img{
    display:block;
    margin:2em;
}

#epic-quote{
    justify-content: center;
    align-items: center;
    margin:auto;
    text-align: center;
    margin-bottom: 1em;
}
#epic-quote-name{
    margin-top: 1em;
    justify-content: center;
    align-items: center;
    margin:auto;
    text-align: center;
}
#container-quote{
    display:block;
    background-color: #e5e7eb;
    color: black;
}
footer{
    background-color: #1F2937;
    text-align: center;
    color: white;
}
.epic-signup{
    display: flex;
    background-color: #3882f6;
    justify-content: center;
    align-items: center;
    margin-top:90px;
    margin-bottom:90px;
    margin-left:190px;
    margin-right:190px;
    padding: 2em;
    border-radius: 15px;
}
.epic-signup-button{
    display: block;
    margin-left: 3em;
}
.epic-signup-text{
    display: block;
    margin-right: 3em;
}
#signup_2{
    border: 3px solid white;
}
